.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #cecece;

  .logo {
    font-size: 16px;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .player {
    outline: 1px solid;
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.dialog-to-shared {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  .link {
    padding: 10px;
    font-size: 14px;
    outline: 1px solid;
    border-radius: 10px;
    overflow: hidden;
  }
}
