<section>
  <h2>Cards</h2>
  <div class="card-list">
    @for (card of cards; track $index) {
    <button
      class="card"
      [class.selected]="card === cardSelected"
      (click)="onSelectCard(card)"
      title="{{ card.tooltip }}"
    >
      <div class="card__inner">
        <div class="card__front">
          {{ card.label }}
        </div>
        <div class="card__back">🔥</div>
      </div>
    </button>
    }
  </div>
</section>

<section class="participants">
  <h2>Participants</h2>
  @if (user.role === 'admin') {
  <button (click)="onShowCards()">Reveal</button>
  }
  <div class="user-list">
    @for (participant of participants; track $index) {
    <div class="user">
      <div class="card" [class.flipped]="showCards()">
        <div class="card__inner">
          <div class="card__front">🔥</div>
          <div class="card__back">{{ participant.card?.value }}</div>
        </div>
      </div>
      <span>{{ participant.username }}</span>
    </div>
    }
  </div>
</section>

<section>
  <h2>Result</h2>
  <pre>{{ result | json }}</pre>
</section>
