.container {
  outline: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
  margin-top: 5px;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.5);

  .username {
    text-align: center;
    outline: none;
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;

    &.invalid {
      background-color: rgb(214, 48, 48);
      color: #fff;
    }

    &:hover::after {
      content: '✏️';
      margin-left: 6px;
      font-size: 0.9em;
      position: absolute;
    }
  }

  button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px 5px;

    &:hover {
      background-color: #cecece;
    }
  }
}
