:host {
  display: grid;
  place-content: center;
  height: 100dvh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 900px;
  padding-top: 50px;
}

.join-room {
  display: flex;
  justify-content: center;
}

.input-btn {
  display: flex;
  padding: 5px;
}

input,
button {
  font-size: 24px;
  padding: 5px;
}

p {
  padding: 25px 5px;
  text-align: center;
}

span {
  color: rgb(254, 79, 79);
}

@media (max-width: 425px) {
  .input-btn {
    flex-direction: column;
  }
}
