:host {
  display: grid;
  place-content: center;
  height: 100dvh;
}

header {
  margin-block-end: 5rem;
}

h1 {
  text-align: center;
  color: #fff;
  filter: drop-shadow(0px 2px 2px black);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 900px;
  padding-top: 50px;
}

.join-room {
  display: flex;
  justify-content: center;
}

.input-btn {
  display: flex;
  padding: 5px;
}

input,
button {
  font-size: 24px;
  padding: 5px;
}

p {
  padding: 25px 5px;
  text-align: center;
}

span {
  color: rgb(200, 0, 0);
}

.steps {
  display: flex;
  align-items: start;

  .step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    span {
      outline: 1px solid;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: #b63600;
      color: #fff;
      font-weight: 700;
      box-shadow: 0 0 5px 3px #ff7777;
    }

    p {
      color: rgba(0, 0, 0, 0.5);
      font-size: 20px;
    }
  }
}

@media (max-width: 425px) {
  .input-btn {
    flex-direction: column;
  }
}
