@let currentPlayer = player();
<app-header />

<main>
  @if (currentPlayer.username != '') {
  <section class="card-list-container">
    <h2>Cards</h2>
    <div class="card-list">
      @for (card of cards(); track $index) {
      <button
        class="card flipped"
        [class.selected]="card.value === cardSelected()?.value"
        [class.disabled]="showCards()"
        (click)="onSelectCard(card)"
        matTooltip="{{ card.label }}"
      >
        <div class="card__inner">
          <div class="card__front">🔥</div>
          <div class="card__back">
            {{ card.value }}
          </div>
        </div>
      </button>
      }
    </div>
  </section>

  <section class="participants">
    <h2>Players</h2>
    <div class="user-list">
      @for (player of players(); track $index) {
      <div class="user">
        <div class="card disabled" [class.flipped]="showCards()">
          <div class="card__inner">
            <div class="card__front">{{ player.card?.value ? '🔥' : '' }}</div>
            <div class="card__back">{{ player.card?.value }}</div>
          </div>
          @if (currentPlayer.room === roomCode()) {
          <button title="Delete Player" (click)="onDeletePlayer(player.id)">x</button>
          }
        </div>
        <span>{{ player.username }}</span>
      </div>
      }
    </div>
  </section>

  <section>
    @if (showCards()) {
    <div class="section-title">
      <h2>Result</h2>
    </div>
    <div class="result-list">
      @for (card of cardResult(); track $index) {
      <div class="result">
        <div class="small-card">{{ card.value }}</div>
        <span>{{ card.label }}</span>
      </div>
      }
    </div>
    } @if (currentPlayer.room === roomCode()) { @if (showCards()) {
    <button matButton="outlined" (click)="onResetCards()">Reset</button>
    } @else {
    <button matButton="outlined" (click)="onShowCards()">Reveal</button>
    } }
  </section>
  } @else {
  <div class="join-room">
    <input type="text" name="username" placeholder="Enter Username" [formControl]="username" />
    <button (click)="onJoinRoom()">Join Room</button>
    @if (username.touched && username.invalid) {
    <div>username is required</div>
    }
  </div>
  }
</main>
