main {
  margin: 0 auto;
  padding-top: 50px;
  max-width: 900px;
}

.user-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .card {
    height: 50px;
    width: 40px;
    font-size: 20px;
  }
}

.card-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  height: 60px;
  width: 50px;
  border: none;
  padding: 0;
  transition: all 0.2s ease-in;
  border-radius: 4px;
  perspective: 1000px;
  background-color: #fff;
  font-size: 28px;

  &.selected {
    transform: scale(1.2) translateY(-15px);
    pointer-events: none;
    box-shadow: 0px 0px 20px -5px #000000;
  }

  button {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 50%;
    color: white;
    outline: 1px solid #000;
    line-height: 16px;
    pointer-events: all;
    font-size: 0.9rem;
    padding: 0;
    cursor: pointer;
  }
}

.card__inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s cubic-bezier(0.4, 0.2, 0.2, 1);
  will-change: transform;

  border: 1px solid;
  border-radius: inherit;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 1px 3px #cecece;
  }
}

.card__front,
.card__back {
  position: absolute;
  inset: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: inherit;
  background-color: #fff;
}

.card__front {
  background-color: #bef2ff;
}

.card__back {
  transform: rotateY(180deg);
}

.card.flipped {
  .card__inner {
    transform: rotateY(180deg);
  }
}

.card.disabled,
.card.selected .card__inner {
  pointer-events: none;
}

.result-list {
  display: flex;
  gap: 10px;
  justify-content: center;

  .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0.85);

    .result-label {
      font-size: 26px;
      line-height: 27px;
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.join-room {
  display: flex;
  justify-content: center;
  padding: 5px;

  input,
  button {
    font-size: 24px;
    padding: 5px;
  }
}

.btn {
  padding: 10px;
}

@media (max-width: 425px) {
  .join-room {
    flex-direction: column;
  }
}
