* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100dvh;
  overscroll-behavior: none;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow-y: auto;
  overflow-x: hidden;

  background: linear-gradient(150deg, #0079b775 0%, transparent 100%);
  background-repeat: no-repeat;
  background-size: 100% 100dvh;
  background-attachment: fixed;
}
